<div>
  
  <app-slide-show></app-slide-show>
    
 <div class="">
          <div class="">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6 bg-black">
                        <div class="login-section wrapper-table">
                            <div class="login-outer wrapper-cell">
                                  <div class="logo text-center">
                                    <app-logo></app-logo>
                                  </div>
                                  <div class="twitter-button text-center">
                                    <a class="btn btn-twitter" routerLink='/signup'>Sign Up</a>
                                  </div>
                                  <div class="or-seperator">
                                    <span>OR</span>
                                  </div>
                                  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                                    <app-alert *ngIf="response" message="Welcome to WalletHub !!!" success="true"></app-alert>

                                    <div class="custom-form">
                                        <div class="form-group">
                                          <label for="email">Email</label>
                                          <input type="email" class="form-control" formControlName="email" class="form-control" placeholder="Enter email / email" [ngClass]="{ 'is-invalid': (f.email.touched && f.email.errors) || (response && !response?.success) }" >
                                          <div *ngIf="f.email.errors || !response?.success" class="invalid-feedback">
                                            <div *ngIf="f.email.hasError('pattern')">Email is invalid</div>
                                            <div *ngIf="f.email.hasError('required')">Email is required</div>
                                          </div> 
                                        </div>
                                          <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" formControlName="password" placeholder="Enter password" class="form-control" [ngClass]="{ 'is-invalid': (f.password.touched && f.password.errors) || (response && !response?.success) }" />
                                            <div *ngIf="f.password.errors || !response?.success" class="invalid-feedback">
                                              <div *ngIf="f.password.hasError('required')">Password is required</div>
                                              <div *ngIf="f.password.hasError('minlength')">Password must be 5 characters long.</div>
                                            </div>
                                          </div>

                                          <div class="form-group">
                                            <div class="form-check form-check-inline">
                                              <input type="checkbox" class="form-check-input" id="admin" formControlName="isAdmin">
                                              <label class="form-check-label" for="admin">Are you admin ?</label>
                                            </div>
                                            <small *ngIf="f.isAdmin.value == true" id="admin" class="form-text text-danger">
                                              Note: <strong>Admin's Home Page will be different than Normal User.</strong>
                                            </small>
                                          </div>

                                          <div class="remember-forgot">
                                            <div class="row">
                                              <div class="col text-left checkbox-animated m-0">
                                              </div>
                                              <div class="col text-right">
                                                <a href="#">Forgot Password?</a>
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="twitter-button text-center my-4">
                                        <button class="btn btn-twitter" [disabled]="loginForm.invalid" >
                                          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="submitted"></span>
                                          <span class="sr-only" *ngIf="submitted">Loading...</span>
                                          Login
                                        </button>
                                      </div>
                                  </form>


                                  <app-footer></app-footer>
                              </div>
                          </div>
                      </div>
              </div>
            </div>
          </div>
  </div>  

 
</div>
